# Analysis of Tesla's Financial Statements 2011-2018

Helen Nguyen (Trang Ha Nguyen)

Pomonna College Class of 2024

**Source**: Analysis is based on annual disclosure on [Tesla's Investor Relations page](https://ir.tesla.com/#tab-quarterly-disclosure). Figures are extracted from 10-K over the years.

**Note**: Time period 2011-2018 is based on years with figures in the same monetary units (in thousands). From 2019 on, the figures are in millions.

In [15]:
import pandas as pd
import numpy as np

In [16]:
# in thousands, except share and per share data

bs_df = pd.DataFrame(np.array([[2010,
                            99558, 6710, 45182, 235886, 386082, 
                            28951, 85565, 179034, 
                            0, 95, 207048],
                               
                               [2011, 
                            255266, 9539, 50082, 372838, 713448, 
                            56141, 191339, 489403, 
                            0, 104, 224045],
                              
                              [2012,
                            201890, 26842, 268504, 524768, 1114190, 
                            303382, 539108, 989490, 
                            0, 115, 124700],
                              
                              [2013,
                            845889, 49109, 340355, 1265939, 2416930, 
                            303969, 675160, 1749810, 
                            0, 123, 667120],
                              
                              [2014,
                            1905713, 226604, 953675, 3198657, 5849251, 
                            777946, 2107166, 4879345, 
                            0, 126, 911710],
                              
                              [2015,
                            1196908, 168965, 1277838, 2791568, 8092460, 
                            916148, 2816274, 6961471, 
                            0, 131, 1088944],
                              
                              [2016,
                            3393216, 499142, 2067454, 6259796, 22664076, 
                            1860341, 5827005, 16750167, 
                            0, 161, 4752911],
                              
                              [2017,
                            3367914, 515381, 2263537, 6570520, 28655372, 
                            2390250, 7674670, 23022980, 
                            0, 169, 4237242],
                              
                              [2018,
                            3685618, 949022, 3113446, 8306308, 29739614, 
                            3404451, 9992136, 23426010, 
                            0, 173, 4923243]]), 
                    
                   columns=['Year',
                            'Cash and cash equivalents', 'Accounts receivable', 'Inventory', 'Total current assets', 'Total assets', 
                            'Accounts payable', 'Total current liabilities', 'Total liabilities', 
                            'Preferred stock', 'Common stock', 'Total stockholder\'s equity'])

bs_df

,Year,Cash and cash equivalents,Accounts receivable,Inventory,Total current assets,Total assets,Accounts payable,Total current liabilities,Total liabilities,Preferred stock,Common stock,Total stockholder's equity
0,2010,99558,6710,45182,235886,386082,28951,85565,179034,0,95,207048
1,2011,255266,9539,50082,372838,713448,56141,191339,489403,0,104,224045
2,2012,201890,26842,268504,524768,1114190,303382,539108,989490,0,115,124700
3,2013,845889,49109,340355,1265939,2416930,303969,675160,1749810,0,123,667120
4,2014,1905713,226604,953675,3198657,5849251,777946,2107166,4879345,0,126,911710
5,2015,1196908,168965,1277838,2791568,8092460,916148,2816274,6961471,0,131,1088944
6,2016,3393216,499142,2067454,6259796,22664076,1860341,5827005,16750167,0,161,4752911
7,2017,3367914,515381,2263537,6570520,28655372,2390250,7674670,23022980,0,169,4237242
8,2018,3685618,949022,3113446,8306308,29739614,3404451,9992136,23426010,0,173,4923243

In [17]:
# in thousands, except per share data

is_df = pd.DataFrame(np.array([
                            [2010,
                            97078, 116744,
                            86013, 30731,
                            92996, 177569, -154328, 50718], 
    
                            [2011,
                            148568, 204242,
                            142647, 61595,
                            208981, 313083, -254411, 100389],
    
                            [2012,
                            385699, 413256,
                            383189, 30067,
                            273978, 424350, -396213, 107349], 
    
                            [2013,
                            1997786, 2013496,
                            1557234, 456262,
                            231976, 517545, -74014, 119421]]),
                     
                   columns=['Year',
                            'Total automotive revenue', 'Total revenues',
                            'Total cost of revenues', 'Gross profit',
                            'R&D', 'Total operating expenses', 'Net income/loss', 'Weighted average shares'])
is_df

,Year,Total automotive revenue,Total revenues,Total cost of revenues,Gross profit,R&D,Total operating expenses,Net income/loss,Weighted average shares
0,2010,97078,116744,86013,30731,92996,177569,-154328,50718
1,2011,148568,204242,142647,61595,208981,313083,-254411,100389
2,2012,385699,413256,383189,30067,273978,424350,-396213,107349
3,2013,1997786,2013496,1557234,456262,231976,517545,-74014,119421

In [18]:
# in thousands, except per share data

is_df2 = pd.DataFrame(np.array([
                            [2014,
                            3007012, 4208, 3198356,
                            2316685, 881671,
                            464700, 1068360, -294040, 124539], 
    
                            [2015,
                            3740973, 14477, 4046025,
                            3122522, 923503,
                            717900, 1640132, -888663, 128202],
    
                            [2016,
                            6350766, 181394, 7000132,
                            5400875, 1599257,
                            834408, 2266597, -773046, 144212], 
    
                            [2017,
                            9641300, 1116266, 11758751,
                            9536264, 2222487,
                            1378073, 3854573, -2240578, 165758],
    
                            [2018,
                            18514983, 1555244, 21461268,
                            17419247, 4042021,
                            1460370, 4430094, -1062582, 170525]]),
                     
                   columns=['Year',
                            'Total automotive revenue', 'Energy generation and storage', 'Total revenues',
                            'Total cost of revenues', 'Gross profit',
                            'R&D', 'Total operating expenses', 'Net income/loss', 'Weighted average shares'])
is_df2

,Year,Total automotive revenue,Energy generation and storage,Total revenues,Total cost of revenues,Gross profit,R&D,Total operating expenses,Net income/loss,Weighted average shares
0,2014,3007012,4208,3198356,2316685,881671,464700,1068360,-294040,124539
1,2015,3740973,14477,4046025,3122522,923503,717900,1640132,-888663,128202
2,2016,6350766,181394,7000132,5400875,1599257,834408,2266597,-773046,144212
3,2017,9641300,1116266,11758751,9536264,2222487,1378073,3854573,-2240578,165758
4,2018,18514983,1555244,21461268,17419247,4042021,1460370,4430094,-1062582,170525

In [19]:
# in thousands

cf_df = pd.DataFrame(np.array([[2010, -127817, -180297, 338045, 69627, 99558],
                              [2011, -128034, -162258, 446000, 99558, 255266],
                              [2012, -266081, -206930, 419635, 255266, 201890],
                              [2013, 257994, -249417, 635422, 201890, 845889],
                              [2014, -57337, -990444, 2143130, 845889, 1905713],
                              [2015, -524499, -1673551, 1523523, 1905713, 1196908],
                              [2016, -123829, -1416430, 3743976, 1196908, 3393216],
                              [2017, -60654, -4195877, 4414864, 3766900, 3964959],
                              [2018, 2097802, -2337428, 573755, 3964959, 4276388]]),
                     
                   columns=['Year',
                            'Net cash provided by/used in operating activities',
                            'Net cash provided by/used in investing activities',
                            'Net cash provided by/used in financing activities',
                            'Cash and cash equivalents at beginning of period',
                            'Cash and cash equivalents at end of period'])
cf_df

,Year,Net cash provided by/used in operating activities,Net cash provided by/used in investing activities,Net cash provided by/used in financing activities,Cash and cash equivalents at beginning of period,Cash and cash equivalents at end of period
0,2010,-127817,-180297,338045,69627,99558
1,2011,-128034,-162258,446000,99558,255266
2,2012,-266081,-206930,419635,255266,201890
3,2013,257994,-249417,635422,201890,845889
4,2014,-57337,-990444,2143130,845889,1905713
5,2015,-524499,-1673551,1523523,1905713,1196908
6,2016,-123829,-1416430,3743976,1196908,3393216
7,2017,-60654,-4195877,4414864,3766900,3964959
8,2018,2097802,-2337428,573755,3964959,4276388

## Profitability Analysis

In [20]:
profit_df = pd.DataFrame(columns = ['Gross Profit Percentage (%)', 'Return on Sales (%)', 
                                   'Asset Turnover ($)', 'Return on Assets (%)',
                                   'Return on Common Stockholders\' Equity (%)'])

In [21]:
# gross profit percentage (gpp)

profit_df1 = profit_df.copy()

gpp_1013 = is_df['Gross profit'] / is_df['Total revenues']

gpp_1418 = is_df2['Gross profit'] / is_df2['Total revenues']

profit_df['Gross Profit Percentage (%)'] = gpp_1013.append(gpp_1418)

profit_df

,Gross Profit Percentage (%),Return on Sales (%),Asset Turnover ($),Return on Assets (%),Return on Common Stockholders' Equity (%)
0,0.263234,NaN,NaN,NaN,NaN
1,0.301579,NaN,NaN,NaN,NaN
2,0.072756,NaN,NaN,NaN,NaN
3,0.226602,NaN,NaN,NaN,NaN
0,0.275664,NaN,NaN,NaN,NaN
1,0.228249,NaN,NaN,NaN,NaN
2,0.228461,NaN,NaN,NaN,NaN
3,0.189007,NaN,NaN,NaN,NaN
4,0.188340,NaN,NaN,NaN,NaN

## Short-term Liquidity

In [22]:
liquidity_df = pd.DataFrame(columns = ['Working Capital ($)', 'Current Ratio', 
                            'Operating-Cash-Flow-to-Current-Liabilities Ratio',
                            'Accounts Receivable Turnover', 'Average Collection Period',
                            'Inventory Turnover', 'Days\' Sales in Inventory'])

liquidity_df

Empty DataFrame
Columns: [Working Capital ($), Current Ratio, Operating-Cash-Flow-to-Current-Liabilities Ratio, Accounts Receivable Turnover, Average Collection Period, Inventory Turnover, Days' Sales in Inventory]
Index: []

# To be updated!